<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <script src=
    "https://cdn.jsdelivr.net/npm/luxon@3.4.3/build/global/luxon.min.js">
    </script>
    <link rel="stylesheet" href="./css/style.css">
    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="https://kit.fontawesome.com/bc42e2820a.js" crossorigin="anonymous"></script>
</head>

<body class="debu">
    <div class="app-wrapper">
        <div class="app-background">
            <div class="color1"></div>
            <div class="color2"></div>
        </div>
        <div id="app">
            <div class="container-side">
                <!-- inizio side header  -->
                <div class="side-header-container">
                    <div class="side-header">
                        <div class="avatar">
                            <img class="avatar-img" src="./img/avatar_1.jpg">
                            <p class="avatar-name">Francesco</p>
                        </div>
                        <div class="side-header-cta">
                            <span class="cta"><i class="fa-solid fa-circle-notch"></i></span>
                            <span class="cta"><i class="fa-solid fa-message"></i></span>
                            <span class="cta"><i class="fa-solid fa-ellipsis-vertical"></i></span>
                        </div>
                    </div>
                </div>
                <!-- fine side header  -->
                <!-- inizio side main  -->
                <div class="side-main-container">
                    <div class="side-main">
                        <!-- inizio alert blue  -->
                        <div class="alert">
                            <div class="alert-icon">
                                <span class="bell"><i class="fa-solid fa-bell-slash"></i></span>
                            </div>
                            <div class="alert-text">

                                <p>Ricevi notifiche di nuovi messaggi</p>
                                <p><a href="#">Attiva notifiche desktop</a></p>
                            </div>

                        </div>
                        <!-- fine alert blue  -->
                        <div class="side-main-content">
                            <!-- inizio barra di ricerca  -->
                            <div class="search-bar-container">
                                <span class="search-bar-icon"><i class="fa-solid fa-magnifying-glass"></i></span>
                                <input v-model="searchBarVal" class="search-bar" type="text"
                                    placeholder="cerca o inizia una nuova chat">
                            </div>
                            <!-- fine barra di ricerca  -->
                            <!-- inizio lista utenti chat  -->
                            <ul>
                                <li v-for="(contact,index) in searchContacts" class="avatar avatar-chat" :class="{
                                    'active': index === currentIndex
                                }" :key="index" @click="chatSelector(index)">
                                    <!-- <img class="avatar-img" src="./img/avatar_2.jpg"> -->
                                    <img class="avatar-img" :src="contact.avatar">
                                    <div>
                                        <p class="avatar-name">{{contact.name}}</p>
                                        <p class="last-message">Ultimo messaggio inviato</p>

                                    </div>
                                    <span class="last-message-time">12:00</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-chat">
                <div class="chat-header-container">
                    <!-- inizio header chat  -->
                    <div class="side-header">
                        <div class="avatar">
                            <img class="avatar-img" :src="contacts[currentIndex].avatar">
                            <div>
                                <p class="avatar-name">{{ contacts[currentIndex].name }}</p>
                                <p class="last-acess">Ultimo messaggio inviato</p>
                            </div>

                        </div>
                        <div class="side-header-cta">
                            <span class="cta"><i class="fa-solid fa-circle-notch"></i></span>
                            <span class="cta"><i class="fa-solid fa-message"></i></span>
                            <span class="cta"><i class="fa-solid fa-ellipsis-vertical"></i></span>
                        </div>
                    </div>
                </div>
                <!-- fine header chat  -->
                <div class="chat-main-container">
                    <!-- <div class="chat-container"> -->
                    <ul class="chat">
                        <li class="message" :class="message.status ==='sent' ? 'sent': 'received'"
                            v-for="(message,index) in currentContact.messages">

                            <span>{{ message.message}}</span>
                            <!-- <span>{{ message.date}}</span>  -->
                            <!-- <p>{{currentMessageIndex}}</p> -->
                            <span @click="toggleDropDown(index)" class="dropDownMenu">
                                <i class="fa-solid fa-chevron-down"></i>
                                <div v-show="index === currentMessageIndex " class="dropdown-content">
                                    <div>Message info</div>
                                    <div @click="deleteMessage(index)">Delete message</div>
                                </div>

                            </span>
                        </li>


                        <!-- <li
                            
                             class="message sent">{{contacts[currentIndex].messages[0].message}}</li>
                            <li class="message received">{{contacts[currentIndex].messages[1].message}}</li>
                            <li class="message sent">
                                {{contacts[currentIndex].messages[2].message}}
                            </li> -->
                    </ul>

                    <!-- </div> -->
                </div>
                <div class="chat-bar-container">
                    <span class="cta"><i class="fa-regular fa-face-smile"></i></span>
                    <input v-model="newMessageVal" @keyup.enter="sendMessage()" class="chat-bar" type="text"
                        placeholder="scrivi un messaggio">
                    <span class="cta"><i class="fa-solid fa-microphone"></i></span>
                </div>

            </div>
        </div>
    </div>




    <script src="./js/main.js"></script>
</body>

</html>